{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Django Channels</title>
  <style>
    a {
      color: orange;
      text-decoration: none;
    }
  </style>
</head>
<body>
  <h1>Welcome, {{ request.user }}!</h1>
  <input type="text" id="message" placeholder="Message">
  <input type="button" id="send" value="Send">

  <h2>History [ <a href="#" id="clear">CLEAR</a> ]</h2>
  <pre id="history"></pre>

  <script src="{% static 'channels/js/websocketbridge.js' %}"></script>
  <script>
    const MESSAGE = 'message'

    const ws = new channels.WebSocketBridge()
    ws.connect('/chat/?room=development')

    const history = document.getElementById('history'),
          clear = document.getElementById('clear')

    clear.addEventListener('click', () => history.innerHTML = '')

    function appendText(text) {
      history.innerHTML += text + '\n'
    }

    ws.socket.addEventListener('open', () => appendText('*** CONNECTED'))
    ws.socket.addEventListener('close', () => appendText('*** DISCONNECTED'))
    ws.socket.addEventListener('error', () => appendText('*** SERVER ERROR'))
    ws.socket.addEventListener('message', (e) => appendText(e.data))

    const send = document.getElementById('send'),
          message = document.getElementById('message')

    send.addEventListener('click', () => {
      ws.send({text: message.value, command: MESSAGE})
    })
  </script>
</body>
</html>
