{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" type="text/css" href="{% static 'bulma/css/bulma.css' %}">

  {% block extra_css %}{% endblock %}
</head>
<body>
  <section class="hero is-large">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a href="{% url 'index' %}" class="nav-item is-active">
              <img src="https://s3-sa-east-1.amazonaws.com/brbid-assets-prod/brbid/img/logo-svg.svg" alt="Logo">
            </a>
          </div>
          <div class="nav-right nav-menu">
            <a href="{% url 'leilao:leilao-list' %}" class="nav-item is-tab">Leilões</a>
            <a href="/admin/" class="nav-item is-tab">Admin</a>
          </div>
        </div>
      </header>
    </div>
  </section>

  {% block content %}{% endblock %}

  {% block extra_js %}{% endblock %}
</body>
</html>
