{% extends '_layout/base.html' %}

{% load staticfiles %}

{% block title %}
  {{ object.nome }}
{% endblock %}

{% block extra_js %}
  <script>
    let LOTE_PK = {{ object.pk }}
  </script>
  <script src="{% static 'channels/js/websocketbridge.js' %}"></script>
  <script src="{% static 'moment/moment.js' %}"></script>
  <script src="{% static 'axios/dist/axios.js' %}"></script>
  <script src="{% static 'vue/dist/vue.js' %}"></script>
  <script src="{% static 'js/leilao.js' %}"></script>
{% endblock %}

{% block content %}
  <section class="section">
    <div class="container">
      <div class="heading">
        <h1 class="title">{{ object.descricao }}</h1>
      </div>
      <hr>
      <div class="content">
        <h2 class="subtitle">Dar lance</h2>
        <div class="field has-addons">
          <p class="control">
            <input class="input" type="number" placeholder="Valor" v-model="lanceAtual">
          </p>
          <p class="control">
            <a class="button is-info" @click="enviarLance" v-bind:disabled="!lanceAtual">Enviar</a>
          </p>
        </div>
        <hr>
        <h1 class="title has-text-centered" v-text="segundosRestantes"></h1>
        <hr>
        <h2 class="subtitle">Lista de Lances</h2>
        <table class="table is-bordered is-striped is-narrow">
          <thead>
            <tr>
              <th>Arrematante</th>
              <th>Valor</th>
              <th>Horário</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="lance in lances">
              <td v-text="lance.usuario"></td>
              <td v-text="lance.valor"></td>
              <td v-text="lance.criado_em"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
{% endblock %}
